.left-col {
}

#image {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

#tier-image {
    width: 100%;
    object-fit: contain;
    height: 30vh;
}

.tiers-wrapper {
    background-color: #444444;
}

.card-columns {
    column-count: 2;
}

#score {
    font-size: 3vw;
}

.icon-size{
    height:40px;
    width:40px;
}

/* .box Credit: https://stackoverflow.com/a/61913549 */
.box {
    --b: 2px; /* thickness of the border */
    --c: #444444; /* color of the border */
    --w: 40px; /* width of border */


    border: var(--b) solid transparent; /* space for the border */
    --g: #0000 90deg,var(--c) 0;
    background: conic-gradient(from 90deg at top var(--b) left var(--b),var(--g)) 0 0, conic-gradient(from 180deg at top var(--b) right var(--b),var(--g)) 100% 0, conic-gradient(from 0deg at bottom var(--b) left var(--b),var(--g)) 0 100%, conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size: var(--w) var(--w);
    background-origin: border-box;
    background-repeat: no-repeat;
}