<!-- Extend base template - layout.html is parent and index.html is child -->
{% extends "layout.html" %}

<!-- Update title block-->
{% block title %} Login {% endblock %}

<!-- Reuse head html from layout.html and concat index.css stylesheet-->
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/account.css') }}">
  <script src="{{url_for('static', filename='js/account.js')}}"></script>
{% endblock %}

<!-- Navbar defined within layout.html will be drawn within index.html too -->
<!-- Note: unnecessary to write this code but it is here for readability. -->
{% block navbar %}
  {{ super() }}
{% endblock %}

<!-- Now we create the Main Content of the index.html page-->

{% block content %}

<div class="box-container">
  <div class="box-wrapper">
    <button type="button" onclick="dropdown(this.id)" class="row" id="login">
      <div class="item">
        <div class="box-icon" title="Login">
          <i class="fa-solid fa-door-open fa-2x fa-fw"></i>
        </div>
      </div>

      <div class="item">
        <div class="box-header">
          <div class="title"> Login </div>
          <div class="desc"> Sign-in to an existing account.</div>
        </div>
      </div>

      <div class="item">
        <div class="box-icon" title="Show more">
          <i class="fa-solid fa-chevron-down" id="login-chevron"></i>
        </div>
      </div>
    </button>

    <form id="login-dropdown" class="row hidden col" autocomplete="off" method="post" action="{{ url_for('login')}}">

      <hr>

      <div class="form-container">
        <div class="form-wrapper">

          <div class="row">
            <div class="item">
              <div class="box-icon">
                <i class="fa-solid fa-user fa-sm"></i>
                <label for="login_username">Username:</label>
              </div>
            </div>

            <div class="item">
              <input type="text" id="login-username" name="login_username"  placeholder="..." required>
            </div>
          </div>
          
          <div class="row">
            <div class="item">
              <div class="box-icon">
                <i class="fa-solid fa-lock fa-sm"></i>
                <label for="login_password">Password:</label>
              </div>
            </div>

            <div class="item">
              <input type="password" id="login-password" name="login_password" placeholder="..." required>
              <button type="button" onclick="togglePassword(this)" title="View password">
                <i class="fa-solid fa-eye-slash fa-sm password-icon" id="p-icon-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="helper-text" onclick="forgot()">
        Forgot password?
      </a>

      <button class="form-container btn-submit" type="submit" title="Login" value="login">
            Login
      </button>

      <div class="validation-wrapper hidden" id="validate-flask-login">
        {% with messages = get_flashed_messages(category_filter=["login"]) %}
        {% if messages %}
        {%- for msg in messages %}
            <div class="validation-text">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

    </form>

  </div>
</div>

<div class="box-container">
  <div class="box-wrapper">
    <button type="button" onclick="dropdown(this.id)" class="row" id="create">

      <div class="item">
        <div class="box-icon" title="Create Account">
          <i class="fa-solid fa-square-plus fa-2x fa-fw"></i>
        </div>
      </div>

      <div class="item">
        <div class="box-header">
          <div class="title"> Create Account </div>
          <div class="desc"> Enter details to create a personal account.</div>
        </div>
      </div>

      <div class="item">
        <div class="box-icon" title="Show more">
          <i class="fa-solid fa-chevron-down" id="create-chevron"></i>
        </div>
      </div>
    </button>

    <form id="create-dropdown" class="row hidden col" autocomplete="__away" method="post" action="{{ url_for('register')}}">

      <hr>

      <div class="form-container">
        <div class="form-wrapper">

          <div class="row">
            <div class="item">
              <div class="box-icon">
                <i class="fa-solid fa-user fa-sm"></i>
                <label for="create_username">Username:</label>
              </div>
            </div>

            <div class="item">
              <input type="text" id="create-username" name="create_username" value="{{ request.form['create_username'] }}" placeholder="..." required minlength="4" maxlength="20" onclick="this.removeAttribute('readonly')" onkeypress="this.removeAttribute('readonly')" onfocusout="this.setAttribute('readonly','');" readonly>
            </div>
          </div>
          
          <div class="row">
            <div class="item">
              <div class="box-icon">
                <i class="fa-solid fa-lock fa-sm"></i>
                <label for="create_password1">Password:</label>
              </div>
            </div>

            <div class="item">
              <input type="text" id="create-password-1" name="create_password1" value="{{ request.form['create_password1'] }}" placeholder="..." required minlength="6" maxlength="20" onclick="this.removeAttribute('readonly')" onkeypress="this.removeAttribute('readonly')" onfocusout="this.setAttribute('readonly','');" onkeyup="setType(this)" readonly>
              <button type="button" onclick="togglePassword(this)" title="View password">
                <i class="fa-solid fa-eye-slash fa-sm password-icon" id="p-icon-2"></i>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="item">
              <div class="box-icon">
                <i class="fa-solid fa-lock fa-sm"></i>
                <label for="create_password2">Confirm Password:</label>
              </div>
            </div>

            <div class="item">
              <input type="text" id="create-password-2" name="create_password2" value="{{ request.form['create_password2'] }}" placeholder="..." required minlength="6" maxlength="20" onclick="this.removeAttribute('readonly')" onkeypress="this.removeAttribute('readonly')" onfocusout="this.setAttribute('readonly','');" onkeyup="setType(this)" readonly>
              <button type="button" onclick="togglePassword(this)" title="View password">
                <i class="fa-solid fa-eye-slash fa-sm password-icon" id="p-icon-3"></i>
              </button>
            </div>
          </div>

        </div>
      </div>

      <div class="helper-text">
          <div> Password or username cannot contain white space.</div>
          <div> Username contains only letters, underscore, and numbers.</div>
          <div> Username between 4 and 20 characters long. </div>
          <div> Password between 6 and 20 characters long. </div>
      </div>

      <button class="form-container btn-submit" type="submit" title="Create Account" value="create">
            Create Account
      </button>

      <div class="validation-wrapper hidden" id="validate-flask-create">
        {% with messages = get_flashed_messages(category_filter=["register"]) %}
        {% if messages %}
        {%- for msg in messages %}
            <div class="validation-text">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

    </form>

  </div>
</div>

<div class="box-container">
  <a href="/play" class="box-wrapper" onclick="guest()">
    <div class="row">

      <div class="item">
        <div class="box-icon" title="Guest">
          <i class="fa-solid fa-user-ninja fa-2x fa-fw"></i>
        </div>
      </div>

      <div class="item">
        <div class="box-header">
          <div class="title"> Continue as Guest </div>
          <div class="desc"> Play Chess using Guest account. Match history and statistics are not recorded.</div>
        </div>
      </div>

      <div class="item">
        <div class="box-icon" title="Continue as Guest">
          <i class="fa-solid fa-arrow-right-long"></i>
        </div>
      </div>
    </div>
  </a>
</div>

{% endblock %}