<!-- Extend base template - layout.html is parent and index.html is child -->
{% extends "layout.html" %}

<!-- Update title block-->
{% block title %} Home {% endblock %}

<!-- Reuse head html from layout.html and concat index.css stylesheet-->
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/index.css') }}">
{% endblock %}

<!-- Navbar defined within layout.html will be drawn within index.html too -->
<!-- Note: unnecessary to write this code but it is here for readability. -->
{% block navbar %}
  {{ super() }}
{% endblock %}

<!-- Now we create the Main Content of the index.html page-->

{% block content %}

<div class="intro-container"> 
  <div class="intro-left">
    <img src="static/images/board.png" alt="Chess Board Graphic"></img>
  </div>

  <div class="intro-right">
    <div class="title"> What is Chess.AI? </div>
    <hr>

    <div class="desc"> 
      A Machine Learning application wherein Chess enthusiasts can practice
      with AI trained against the data of professional players (i.e., Magnus Carlsen) or
      amateurs within set Elo rating ranges; ChessAI strives to be a practice tool that will
      challenge players, transforming them into stronger opponents.
    </div>

    <hr>

    <div class="desc"> Chess.AI is a project developed by Callum Organ as part of his undergraduate disseration throughout Sep. 2022 - June 2023.  </div>

    <a href="/account" class="button" title="Go to Login">
      GET STARTED
    </a>
  </div>
</div>

<div class="box-container">

  <div class="box-image">
    <div class="box-icon" title="Play">
      <i class="fa-solid fa-chess-board fa-5x"></i>
    </div>
  </div>
  
  <div class="box-right">
    <div class="title"> Play </div>
    <div class="desc"> Challenge various AI opponents within different skill ranges to develope your Chess skills. </div>
  </div>

</div>

<div class="box-container">

  <div class="box-image">
    <div class="box-icon" title="Learn">
      <i class="fa-solid fa-book fa-5x"></i>
    </div>
  </div>
  
  <div class="box-right">
    <div class="title"> Learn </div>
    <div class="desc"> Through our beginner friendly lessons and practice drills you can learn the rules of the game as well as strategies. </div>
  </div>

</div>

<div class="box-container" style="margin-bottom:0;">

  <div class="box-image">
    <div class="box-icon" title="Profile">
      <i class="fa-solid fa-user fa-5x"></i>
    </div>
  </div>
  
  <div class="box-right">
    <div class="title"> Profile </div>
    <div class="desc"> Review your personal statistics and analyse previous matches by building your own customisable profile.</div>
  </div>

</div>

{% endblock %}