@page
@model Ecobadge_Website.Pages.About_usModel
@{
    ViewData["Title"] = "About us";
}

@section Styles {
    <link href="@Url.Content("~/css/about_us.css")" rel="stylesheet" type="text/css"/>
}


<div class="container wrapper">
    <div class="row">
        @*//--------------------------------------------------------Meet the Team text box--------------------------------------------------------*@
        <div class="col-12 text-container">
            @*//--------------------------------------------------------Meet the team title--------------------------------------------------------*@
            <div class="text-center text-header" style="padding-bottom:15px">Meet the team</div>

            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            @*//--------------------------------------------------------Meet the team image--------------------------------------------------------*@
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="image" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">

                                @*//--------------------------------------------------------Meet the team job title and description--------------------------------------------------------*@
                                <h5 class="mt-4 font-weight-medium mb-0">Name here</h5>
                                <h6 class="subtitle mb-3">Job title</h6>
                                <p>Lorem ipsum blah blah blah</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            @*//--------------------------------------------------------Meet the team image 2--------------------------------------------------------*@
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="image" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                @*//--------------------------------------------------------Meet the team job title and description--------------------------------------------------------*@
                                <h5 class="mt-4 font-weight-medium mb-0">Name here</h5>
                                <h6 class="subtitle mb-3">Job title</h6>
                                <p>Lorem ipsum blah blah blah</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            @*//--------------------------------------------------------Meet the team image 3--------------------------------------------------------*@
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="image" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                @*//--------------------------------------------------------Meet the team job title and description--------------------------------------------------------*@
                                <h5 class="mt-4 font-weight-medium mb-0">Name here</h5>
                                <h6 class="subtitle mb-3">Job title</h6>
                                <p>Lorem ipsum blah blah blah</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <div class="col-12">
                            @*//--------------------------------------------------------Meet the team image 4--------------------------------------------------------*@
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="image" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                @*//--------------------------------------------------------Meet the team job title and description--------------------------------------------------------*@
                                <h5 class="mt-4 font-weight-medium mb-0">Name here</h5>
                                <h6 class="subtitle mb-3">Job title</h6>
                                <p>Lorem ipsum blah blah blah</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div class="container wrapper">
    <div class="row">
        @*//--------------------------------------------------------Our journey image--------------------------------------------------------*@
        <div class="col-4 image-container">
            --Image Placeholder--
        </div>

        @*//--------------------------------------------------------Our Journey text box--------------------------------------------------------*@
        <div class="col-8 text-container">
            @*//--------------------------------------------------------Our journey title--------------------------------------------------------*@
            <div class="text-center text-header">Our Journey</div>
            @*//--------------------------------------------------------Our Journey text content--------------------------------------------------------*@
            @*//--------------------------------------------------------Our Journey text content--------------------------------------------------------*@
            <div class=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla blandit mauris, sit amet gravida erat sodales in. Nunc rutrum blandit augue, a dictum nibh dictum quis. Quisque pretium lorem consectetur orci placerat sodales. Aliquam id elit libero. Duis in ex nisi. Praesent a risus est. In et pharetra erat. In condimentum, mi ut placerat dapibus, arcu nunc sagittis sem, non euismod eros libero id ex. Donec ut pharetra risus. Duis fringilla est et cursus ultrices. Nulla mollis nec metus sed elementum. Phasellus et odio eget elit euismod dictum.</div>
        </div>
    </div>

    <div class="row">

        @*//--------------------------------------------------------Our Future Plans text box--------------------------------------------------------*@
        <div class="col-8 text-container">
            @*//--------------------------------------------------------Our Future Plans--------------------------------------------------------*@
            <div class="text-center text-header">Our Future Plans</div>
            @*//--------------------------------------------------------Our Future plans text content--------------------------------------------------------*@
            <div class=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fringilla blandit mauris, sit amet gravida erat sodales in. Nunc rutrum blandit augue, a dictum nibh dictum quis. Quisque pretium lorem consectetur orci placerat sodales. Aliquam id elit libero. Duis in ex nisi. Praesent a risus est. In et pharetra erat. In condimentum, mi ut placerat dapibus, arcu nunc sagittis sem, non euismod eros libero id ex. Donec ut pharetra risus. Duis fringilla est et cursus ultrices. Nulla mollis nec metus sed elementum. Phasellus et odio eget elit euismod dictum.</div>
        </div>
        @*//--------------------------------------------------------Our Future Plans image--------------------------------------------------------*@
        <div class="col-4 image-container">
            --Image Placeholder--
        </div>
    </div>
        </div>



        <div class="container wrapper">
            <div class="row">

                <div class="col-6">
                    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#subscribe">Subscribe to our Newsletter</button>
                </div>

                <div class="col-6">
                    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#contact">Contact us</button>
                </div>

            </div>
        </div>

        <div class="modal fade" id="contact" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100">Contact us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="input-group input-group-lg mx-auto">
                            <input type="text" class="form-control" placeholder="Name" id="name">
                        </div>

                        <div class="input-group input-group-lg mx-auto">
                            <input type="email" class="form-control" placeholder="Email" id="email">
                        </div>

                        <div class="input-group input-group-lg mx-auto">
                            <input type="text" class="form-control" placeholder="Your message" id="message">
                        </div>

                        <div class="input-group input-group-lg mx-auto" style="padding-top:5px">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="mail">
                                <label class="form-check-label" for="flexCheckDefault">
                                    I consent to my email address being used for marketing and
                                    promotional reasons, and subscribe to the ECO Badge mailing list.
                                </label>
                            </div>
                        </div>

                        <div class="input-group input-group-lg mx-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="terms">
                                <label class="form-check-label" for="flexCheckDefault">
                                        I agree to the <a href="#"> Terms and Conditions</a>
                                        and <a href="#"> Policy</a>
                                        , and give consent to the use of my details and information for the purpose of responding to my message.
                                </label>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center" style="padding:15px">
                            <button type="button" class="btn btn-dark" style="width:40%">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="subscribe" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100">Subscribe to our Newsletter</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="input-group input-group-lg mx-auto">
                            <input type="email" class="form-control" placeholder="Email" id="nlEmail">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-dark" type="button" id="nlBtn">SUBMIT</button>
                            </div>
                        </div>

                        <small class="text-muted">By pressing SUBMIT, I consent to my email address being used for marketing and
                           promotional reasons, and subscribe to the ECO Badge mailing list. </small>

                    </div>
                </div>
            </div>
        </div>
