<!doctype html>
<html>

  <head>

    {% block head %}
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/layout.css')}}" />
    <script src="https://kit.fontawesome.com/1d66383990.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.js')}}"></script>


    <title>{% block title %}{% endblock %} - ChessAI</title>
    {% endblock %}

  </head>

  <body>

    {% block navbar %}
    <nav id="navigation-bar">

      <div class ="nav-left">
        <a href="/">
          <img src="/static/images/logo.png" alt="ChessAI" title="Home"></img>
        </a>

        <div class="nav-title"> CHESS
          <div class="nav-title-small">.</div>
          <div class="nav-title-small">AI</div>
        </div>
      </div>

      <div class="nav-right">

        {% if current_user.is_authenticated %}

          <a href="/play" class="nav-button" title="Play">
            <i class="fa-solid fa-chess-board fa-2xl"></i>
          </a>
          
          <a href="/learn" class="nav-button" title="Learn">
            <i class="fa-solid fa-book fa-2xl"></i>
          </a>
  
          <a href="/profile" class="nav-button" title="Profile">
              <i class="fa-solid fa-user fa-2xl"></i>
          </a> 

          <a href="/logout" class="nav-button" title="Logout" id="logout">
            <i class="fa-solid fa-arrow-right-from-bracket fa-2xl logout"></i>
          </a>

        {% else %}
        <a href="/account" class="button-nav" title="Create a new account" id="create-account">
          Create Account
        </a>

        <a href="/account" class="button-nav" title="Go to Login" id="login-account">
          Log In
        </a>
        {% endif %}

      </div>

    </nav>

    {% endblock %}

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- User is AUTHENTICATED (they are logged into an account)-->
    {% if current_user.is_authenticated %}
    <script>

      setInterval(heartbeat, 1000 * 60 * 0.25); // Interval read in miliseconds - so we convert minutes to miliseconds

      // Run this function every 5 minutes to update the last time the user client was active. Used to see if client closed the website.
      function heartbeat() {
        $.ajax({
          url: '/heartbeat',
          type: 'PATCH',
          data: [ ]
        });
      }

    </script>

    <!-- User is NOT AUTHENTICATED (they are not logged into an account)-->
    {% else %}
    <script>

      window.addEventListener('load', function () {

        const btn1 = document.getElementById("create-account");
        btn1.addEventListener("click", function() {
          
          localStorage.setItem("create", "show");
          localStorage.setItem("login", "hide");
        });

        const btn2 = document.getElementById("login-account");
        btn2.addEventListener("click", function() {
          
          localStorage.setItem("create", "hide");
          localStorage.setItem("login", "show");
        });
      });

    </script>
    {% endif %}


  </body>

</html>
