#content{
    display:flex;
    gap:25px;

    margin-left: 20%;
    margin-right: 20%;

    background-color: #3E3B39;

    padding:30px 50px;
    color:#DBEAFE;
}

hr{
    border: none;
    height: 5px;
    color: #DBEAFE;  /* old IE */
    background-color: #DBEAFE;  /* Modern Browsers */
    width:100%;
}

hr.thin{
    height: 2px;
    margin: 5px 0 10px 0;
}

.hidden{
    display:none !important;
}

.scrollable{
    overflow-y: auto;
}

.recent-container{
    background-color: #282727;
    border: 0px;
    border-radius: 8px;
    padding:20px 30px;
    color:#FFFFFF;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.helper-container{
    background-color: #A45A52;
    border: 0px;
    border-radius: 8px;
    padding:20px 30px;
    color:#FFFFFF;
    flex-basis: 100%;
    text-align: center;
}

.load-container{
    background-color: #312E2B;
    border: 1px;
    border-radius: 8px;
    padding:20px 30px;
    color:#FFFFFF;
    flex-basis: 100%;
    text-align: center;
}

.win {
    background-color: rgb(0, 150, 255, .7);

    .indent{
        background-color:  rgb(0, 150, 255, 1);
    }
}

.lose {
    background-color: rgb(255, 26, 0, 0.7);

    .indent{
        background-color: rgb(255, 26, 0, 1);
    }
}

.draw {
    background-color: rgb(168,168,168, 0.7);

    .indent{
        background-color: rgb(168,168,168, 1);
    }
}

.ongoing {
    background: linear-gradient(-45deg, #ee9b00, #cdb4db, #348aa7, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    .indent{
        background: linear-gradient(-45deg, #ee9b00, #cdb4db, #348aa7, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game-container{
    border: 0px;
    border-radius: 8px;
    color:#FFFFFF;
    flex-basis: 100%;
    text-align: left;

    .indent{
        display: flex;
        align-self: stretch;
        width: 3%;
        border: 0px;
        border-radius: 8px 0px 0px 8px;
    }

    .participants{
        flex: 100;
        align-self: stretch;
        align-items: center;

        .result{
            flex-basis: 20%;
        }

    }

    .performance{
        align-self: stretch;
        justify-content: center;

        .row{
            height:100%;
            background-color: black;
            padding:10px;
        }
    }

    .wrapper {
        padding:20px 30px 20px 10px;

        &:nth-child(4){
            padding-right: 18px;
        }

        .event{
            font-size: large;
            font-weight: bold;
            text-transform: uppercase;
        }

        .date{
            font-size: small;
            font-style: italic;
        }

        .termination{
            font-size: small;
            font-weight: bold;
        }

        .time{
            font-size: small; 
        }

        .player{
            font-size: small;
            display: flex;
            align-items: center;
            flex-basis: 40%;
            gap: 8px;

            .team{
                font-size: small;
            }

            .player-white{
                border-top: 3px solid white;
                padding-top:5px;
            }
            .player-black{
                border-top: 3px solid black;
                padding-top:5px;
            }

            .pic{
                height: 32px;
                width: 32px;
            }

            .player-username{
                font-size: medium;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
            }
        }
    }
}

.container{
    display:flex;
    flex-direction: column;
    border: 0px;
    border-radius: 8px;
    padding:40px 30px;
    color:#FFFFFF;

    &:nth-child(1){
        flex: 30;
        background-color: #312E2B;
    }

    &:nth-child(2){
        flex: 70;
        background-color: #1E1E1E;
    }

    .nogap{gap:0px !important;}

    .wrapper{
        display:flex;
        align-items: stretch;
        flex-direction: column;
        gap:30px;
        
        .col{
            flex-direction: column !important;
        }

        .row{
            display:flex;
            flex-direction: row;
            width:100%;
            gap:8px;
            align-items: center;

            .middle{
                justify-content: center;
            }

            .left{
                flex-basis: fit-content;
            }

            .right{
                justify-content: end;
                flex-basis: fit-content;
            }

            .item{      
                display: flex;
                width:100%;
                align-self: stretch;

                #profile_biography{
                    word-break: break-all;
                }

                #avatar{
                    height:200px;
                    width:200px;
                    border-radius: 50%;
                }

                .showing{
                    padding-top:10px;
                    opacity: 0.7;
                }

                .username{
                    font-size: x-large;
                    font-weight: 600;
                    align-items: center;
                    justify-content: center;
                }

                .title{
                    font-size: medium;
                    font-weight: 600;
                }

                .text{
                    font-size: small;
                }

                .icon{
                    margin-top:10px;
                    flex-basis: fit-content;
                }

                .filter-btn{
                    background: rgb(15,73,28);
                    background: linear-gradient(90deg, rgba(15,73,28,1) 0%, rgba(16,87,35,0.591456651019783) 30%, rgba(16,86,35,0.5942577714679622) 70%, rgba(15,73,28,1) 100%); 
                    width:100%;
                    padding:15px 15px;
                    text-transform: uppercase;

                    &:hover{
                        opacity:90%;
                    }
                }


                .button{
                    background-color: #0F491C;
                    text-decoration: none;
                    color:white;
                    padding:15px 45px;
                    margin:10px;
                    width:100%;
                    border: 0px;
                    border-radius: 8px;
                
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }

            button{
                background: none;
                border: none;
                padding: 0;
                font: inherit;
                outline: inherit;
                color: white;
                padding:10px;

                &:hover{
                    color:gray
                }
            }

            .selected{
                border-bottom: solid white 2px;

                &:hover{
                    border-bottom-color: grey;
                }
            }

            .selected-btn{
                border: solid 2px white;
                margin: -2px;
            }
        }
    }
}