 @page
@model Ecobadge_Website.Pages.BusinessProfileModel
@{
    ViewData["Title"] = "Business";
}

@section Styles {
    <link href="@Url.Content("~/css/businessprofile.css")" rel="stylesheet" type="text/css"/>
}

@section Scripts{
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
} 

<div class="container-fluid h-100">

    <div class="row">

        <div class="col-4 left-col">
            <div class="row justify-content-center">
                <div class="card w-100 h-100">
                    <img class="card-img-top" id="image" src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg" alt="Company Image">
                    <div class="card-body">
                        <h5 class="card-title text-center text-capitalize h1" id="companyName"></h5>

                        <div class="card-body pt-4">

                            <div class="row">
                                <div class="col-6">
                                    <p>City </p>
                                </div>
                                <div class="col-6 text-right">
                                    <div id="city"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <p>County </p>
                                </div>
                                <div class="col-6 text-right">
                                    <div id="county"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <p>Address </p>
                                </div>
                                <div class="col-6 text-right">
                                    <div id="address"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <p>Postcode </p>
                                </div>
                                <div class="col-6 text-right">
                                    <div id="postcode"></div>
                                </div>
                            </div>

                            <div class="row py-4">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-center">
                                            <h3>Contact Information</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col text-center">

                                            <div id="email"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col text-center">
                                            <div id="tel"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row p-4">
                                <div class="col">
                                    <button type="button" class="btn btn-info btn-block" href="" id="weblink">Visit our page!</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 right-col">

            <div class="row justify-content-center">

                <div class="col"> 
                    <div class="box h-100 p-2">

                        <h4 class="text-center"><u>Biography</u></h4>
                        <p class="px-3" id="description"></p>

                    </div>

                </div>

                <div class="col">
                    <div class="tiers-wrapper py-3 pr-3">
                        <div class="card-deck m-0">
                            <div class="card">
                                <div class="card-body d-flex flex-column">
                                    <div id="score" class="mt-auto mx-auto"></div>
                                    <div class="mb-auto mx-auto text-muted">out of 100</div>
                                </div>
                            </div>

                            <div class="card mx-auto d-block">
                                <img class="card-img-top py-1 px-5" id="tier-image" src="..." alt="ECO Badge Tier" title="...">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center pt-4">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Vegan Dishes</h5>
                            <div class="card-body text-center" id="mh1"></div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Single-Use Plastic</h5>
                            <div class="card-body text-center" id="mh2"></div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Foodwaste Collection Scheme</h5>
                            <div class="card-body text-center" id="mh3"></div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Locally Sourced Produce</h5>
                            <div class="card-body text-center" id="mh4"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<script>

    //<div id="description"></div>

    const element = document.getElementById("parent");
    element.classList.remove("container");
    element.classList.add("container-fluid");

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const companyId = urlParams.get('id');

    fetchCompanies(companyId);

    async function fetchCompanies(id) {

        const url = "https://localhost:44393/api/companies/" + id;
        const raw = await fetch(url);

        const data = await raw.json();

        document.getElementById("companyName").innerText = data.companyName;
        //document.getElementById("image").src = data.compImg;
        document.getElementById("description").innerText = data.biography;

        document.getElementById("city").innerText = data.cityOrTown;
        document.getElementById("county").innerText = data.county;
        document.getElementById("address").innerText = data.address;
        document.getElementById("postcode").innerText = data.postcode;

        document.getElementById("email").innerText = data.companyEmail;
        document.getElementById("weblink").href = data.websiteLink;
        document.getElementById("tel").innerText = data.tel;

        document.getElementById("score").innerText = data.companyScore;

        if(data.veganDishes == true){$("#mh1").append('<i class="icon-size" data-feather="check"></i>');}
        else{ $("#mh1").append('<i class="icon-size" data-feather="x"></i>');}

        if(data.singleUsePlastic == true){$("#mh2").append('<i class="icon-size" data-feather="check"></i>');}
        else{ $("#mh2").append('<i class="icon-size" data-feather="x"></i>');}

        if(data.foodWasteCollectionScheme == true){$("#mh3").append('<i class="icon-size" data-feather="check"></i>');}
        else{ $("#mh3").append('<i class="icon-size" data-feather="x"></i>');}

        if(data.localProduce == true){$("#mh4").append('<i class="icon-size" data-feather="check"></i>');}
        else{ $("#mh4").append('<i class="icon-size" data-feather="x"></i>');}
        
        feather.replace();

        if (data.ecobadgeTier == "Bronze") { 
            var elem = document.getElementById("tier-image");
            elem.src = "assets/bronze@4x.png";
            elem.alt = "Bronze";
            elem.title = "Bronze";
        }

        if (data.ecobadgeTier == "Silver") { 
            var elem = document.getElementById("tier-image");
            elem.src = "assets/silver@4x.png";
            elem.alt = "Silver";
            elem.title = "Silver";
        }

        if (data.ecobadgeTier == "Gold") { 
            var elem = document.getElementById("tier-image");
            elem.src = "assets/gold@4x.png";
            elem.alt = "Gold";
            elem.title = "Gold";
        }

        if (data.ecobadgeTier == "Platinum") { 
            var elem = document.getElementById("tier-image");
            elem.src = "assets/platinum@4x.png";
            elem.alt = "Platinum";
            elem.title = "Platinum";
        }
    }

</script>

