body{
    background-image: url(../../images/checkbg.png);
}

#content{
    margin-left: 20%;
    margin-right: 20%;

    background-color: #3E3B39;

    padding:30px 50px;
    color:#DBEAFE;
}

.intro-container{

    display:flex;

    img{
        width:100%;
        border: 0px;
        border-radius: 8px;
    }

    .intro-left{
        width:30%;
        margin-right:10px;
        display:flex;
        align-self: center;
    }

    .intro-right{
        display:flex;
        flex-direction: column;
        background-color: #312E2B;
        width:70%;
        margin-left:10px;
        padding:10px;

        border: 0px;
        border-radius: 8px;

        .title{
            text-transform: uppercase;
            margin:10px;
            align-self: center;
            font-weight: 600;
            justify-content: center;
        }

        .desc{
            margin:10px;
        }
    }

}

.button{
    background-color: #0F491C;
    text-decoration: none;
    color:white;
    width:fit-content;
    padding:15px;
    margin:10px;

    border: 0px;
    border-radius: 8px;

    &:hover{
        opacity: 0.7;
    }
}

.box-container{
    margin:30px 0px;
    display:flex;
    background-color: #1E1E1E;
    padding:30px 0px;

    border: 0px;
    border-radius: 8px;

    color: #FFFFFF;

    .box-image{
        width:30%;
        margin-right:10px;

        display:flex;
        justify-content: center;

        .box-icon{
            display:flex;
            justify-content: center;
            align-items: center;
            opacity:1;
            color: #D2CEB4;
        }
    }

    .box-right{
        display:flex;
        flex-direction: column;
        width:70%;
        margin-left:10px;
        margin-right:3%;
        padding:10px;

        .title{
            font-weight: 600;
        }
    }
}