{% extends "layout.html" %}

{% block title %} Play Chess {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css') }}">
    <script>var exports = {};</script>
    <script src="{{url_for('static', filename='node_modules/chess.js/dist/chess.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>

    <script type="text/javascript">

        var human = {
            "username": {{ game.human.username|tojson }},
            "color": {{ game.human.color|tojson }},     
            "points": {{ game.human.points|tojson }}
        }

        var computer = {
            "username": {{ game.computer.username|tojson }},
            "color": {{ game.computer.color|tojson }},
            "points": {{ game.computer.points|tojson }}
        }

        var game = {
            "id": {{ game.id|tojson }},
            "computer": computer,
            "human": human,
            "result": {{ game.result|tojson }},
            "time": {{ game.time|tojson }},
            "termination": {{ game.termination|tojson }},
            "moves": {{ game.moves|tojson }},
        }

        var view = '{{ url_for("game", id_=game.id) }}'

     </script>

{% endblock %}



{% block content %}


<div class="container">
    <div class="wrapper">
        <div class="info-container fit">
            <div class="row col">
                <div class="item">
                    <div class="row col participant" id="white">
                        <div class="item middle"> <img class="piece-color" src="/static/images/white.png" alt="White" title="White"></img></div>
                        <div class="item middle" id="white_name"> NAME? </div>
                    </div>
                    <div class="row col participant" id="black">
                        <div class="item middle"> <img class="piece-color" src="/static/images/black.png" alt="Black" title="Black"></img></div>
                        <div class="item middle" id="black_name"> NAME?</div>
                    </div>
                </div>
                <div class="item">
                    <div class="row parameters">
                        <div class="item middle"> Bot Difficulty</div>
                        <div class="item middle" id="rating"> VALUE?</div>
                    </div>
                </div>
                <div class="item">
                    <div class="row parameters">
                        <div class="item middle"> Game Time</div>
                        <div class="item middle" id="time"> VALUE?</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col control-container">

            <div class="row control top">
                <button class="item middle btn" onclick="control(this)"> <i class="fa-solid fa-angles-left fa-lg fa-fw"></i> </button>
                <button class="item middle btn" onclick="control(this)"> <i class="fa-solid fa-angle-left fa-lg fa-fw"></i> </button>
                <button class="item middle btn" onclick="control(this)"> <i class="fa-solid fa-angle-right fa-lg fa-fw"></i> </button>
                <button class="item middle btn" onclick="control(this)"> <i class="fa-solid fa-angles-right fa-lg fa-fw"></i> </button>
            </div>

            <div class="wrapper row col table" id="history">
                <div class="row">
                    <div class="item header"> #     </div>
                    <div class="item header"> White </div>
                    <div class="item header"> Black </div>
                </div>
                <hr id="0">
            </div>

            <div class="row control bottom">
                <div class="item">
                    <input class="item middle" placeholder="Enter move or drag piece... "></input>
                    <button type="button" onclick="submitMove(this)" title="Submit move">
                        <i class="fa-solid fa-arrow-right fa-xl icon" id="p-icon-3"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="info-container fit">
            <button type="button" onclick="resign()" class="button" title="Resign" id="resign">
                <i class="fa-solid fa-flag fa-flip-horizontal"></i>
                RESIGN
                <i class="fa-solid fa-flag"></i>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">

        <div class="row">
            <div class="item middle" id="computer">
                COMPUTER: ?
            </div>
        </div>

        <div class="row" id="board-container">
            <div id="board" style="width:500px"></div>
        </div>

        <div class="row">
            <div class="item middle" id="player">
                PLAYER: ?
            </div>
        </div>

    </div>
</div>

{% endblock %}